@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.ibm-plex-sans-kr-light {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-kr-regular {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-kr-medium {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-kr-semibold {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-kr-bold {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.custom-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #2175fd;
  border-color: #2175fd;
}

.custom-steps .ant-steps-item-finish .ant-steps-item-icon {
  border-color: #2175fd;
}

.custom-steps .ant-steps-item-finish .ant-steps-icon {
  color: #2175fd;
}

.custom-steps .ant-steps-item-finish .ant-steps-item-tail::after {
  background-color: #2175fd;
}
